# ========================================================
# Dépendances et Environnement
# ========================================================

node_modules/
ssl/
.env

# ========================================================
# Compilation et Production
# ========================================================

apps/*/dist/
apps/*/build/

# ========================================================
# Compilation et Production
# ========================================================

*.code-workspace
.eslintcache
.prettercache