# ===============================================================================
# APPLICATION
# ===============================================================================

PROTOCOL = PROTOCOL
DOMAIN = DOMAIN

# ===============================================================================
# MODULE
# ===============================================================================

VITE_PORT = VITE_PORT
NEST_ENV = NEST_ENV
NEST_PORT = NEST_PORT

# ===============================================================================
# BASE DE DONNEES
# ===============================================================================

DB_HOST = DB_HOST
DB_PORT = DB_PORT
DB_USER = DB_USER
DB_PASSWORD = DB_PASSWORD
DB_NAME = DB_NAME

# ==============================================================================
# MAIL
# ==============================================================================

MAIL_HOST = MAIL_HOST
MAIL_PORT = MAIL_PORT
MAIL_USER = MAIL_USER
MAIL_PASS = MAIL_PASS
MAIL_FROM = MAIL_FROM